---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

// TODO: Add a way to import all the JSON files in the directory
import * as airflow from "./airflow.json";
import * as retool from "./retool.json";
import * as dagster from "./dagster.json";
import * as arm from "./arm.json";
import * as kubernetes from "./kubernetes.json";
import * as opentelemetry from "./opentelemetry.json";

const { name, description, pricing, integrations, ring, license, features, alternatives } = Astro.props;

function capitalize(string: string) {
	return string.charAt(0).toUpperCase() + string.slice(1);
}

export function getStaticPaths() {
	const pages = [
		retool,
		airflow,
		dagster,
		arm,
		kubernetes,
		opentelemetry
	]
	return pages.map(({ slug, name, description, pricing, integrations, ring, license, features, alternatives }) => {
    return {
      params: { slug },
      props: { name, description, pricing, integrations, ring, license, features, alternatives },
    };
  });
}
---

<Layout title={name}>
	<main>
		<h1><span class="text-gradient">{name}</span></h1>
		<p class="description">
			{ description }
		</p>

		<ul role="list" class="link-card-grid">
			<Card
				href={pricing.url}
				title={pricing.title}
				body={pricing.body}
			/>
			<Card
				href={integrations.url}
				title={integrations.title}
				body={integrations.body}
			/>
			<Card
				href="#"
				title="Ring"
				body={capitalize(ring)}
			/>
			<Card
				href={license.url}
				title={license.title}
				body={license.body}
			/>
		</ul>

		<section id="features">
			<h2>Features</h2>
			<ul>
				{ features.map((feature: string) => (
				<li>
					{feature}
				</li>
				))}
			</ul>
		</section>

		<section id="pricing">
			<h2>Pricing</h2>
			<table class="table">
				<tbody>
					<tr>
						<th>Provider</th>
						<th>Price</th>
					</tr>
					<tr>
						<td><strong>Google Cloud Composer</strong></td>
						<td>
							<strong>Cloud Composer uses two pricing models:</strong>
							<ul>
								<li><a href="https://cloud.google.com/composer/pricing#sku-composer-1">Cloud Composer 1 pricing</a></li>
								<li><a href="https://cloud.google.com/composer/pricing#sku-composer-2">Cloud Composer 2 pricing</a></li>
								<li><a href="https://cloud.google.com/composer/pricing#additional-costs">Additional costs</a> apply both to Cloud Composer 1 and Cloud Composer 2</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</section>

		<section id="specifications">
			<h2>Specifications</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Compliance</th>
						<th>HIPAA</th>
						<th>GDPR</th>
						<th>PCI</th>
						<th>SOX</th>
						<th>ISO</th>
						<th>Other</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Self-hosted</td>
						<td>✅</td>
						<td>✅</td>
						<td>✅</td>
						<td>✅</td>
						<td>✅</td>
						<td>✅</td>
					</tr>
					<tr>
						<td>Google Cloud Composer</td>
						<td>✅</td>
						<td>✅</td>
						<td>✅</td>
						<td>✅</td>
						<td>✅</td>
						<td>✅</td>
					</tr>
					<tr>
						<td>Amazon Managed Workflows for Apache Airflow</td>
						<td>✅</td>
						<td>✅</td>
						<td>✅</td>
						<td>✅</td>
						<td>✅</td>
						<td>✅</td>
					</tr>
				</tbody>
			</table>
		</section>

		<section id="proscons">
			<h2>Pros</h2>
			<ul>
				<li>Awesome reason why Airflow is cool</li>
			</ul>

			<h2>Cons</h2>
			<ul>
				<li>Annoying reason why Airflow is not cool</li>
			</ul>
		</section>

		<section id="alternatives">
			<h2>Alternatives</h2>
			<ul>
				{ alternatives.map((alternative: { slug: string | URL | null | undefined; name: string; }) => (
				<li>
					{alternative.slug === null ? <span>{alternative.name}</span> : <a href={alternative.slug}>{alternative.name}</a>}
				</li>
				))}
			</ul>
		</section>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 70vw;
	}

	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}

	table th {
		background-color: rgba(var(--accent), 12%);
	}

	table th, table td {
		text-align: center;
	}

	.table {
		min-width: 100%;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	.description, section {
		min-width: 100%;
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}

	.description code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}

	.description strong {
		color: rgb(var(--accent));
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(4, 25%);
		gap: 1rem;
		padding: 0;
	}
</style>
